__pycache__/
*.py[oc]
*.egg-info
.venv
build/
dist/
wheels/
.env
*.db
.pytest_cache/
.ruff_cache/
.vscode/
tests/
celerybeat-schedule*
.git/
.gitignore
Dockerfile
compose.yaml
README.md
LICENSE
.python-version
pytest.ini
