# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=todo_db
POSTGRES_TEST_DB=test_todo_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_MULTIPLE_DATABASES=test_todo_db

# Database URLs
DATABASE_URL=postgresql+asyncpg://admin:admin@db:5432/todo_db
TEST_DATABASE_URL=postgresql+asyncpg://admin:admin@db:5432/test_todo_db
ALEMBIC_DATABASE_URL=postgresql://admin:admin@db:5432/todo_db

# Redis
REDIS_URL=redis://redis:6379

# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin

# Celery
CELERY_BROKER_URL=amqp://admin:admin@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://redis:6379/1

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# Auth
SECRET_KEY=your_secret_key_here

# Mail (Gmail SMTP)
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password
MAIL_FROM=your_email@gmail.com
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
